.listMain {
  height: calc(100vh - 48px);
  .header {
    background: white;
    font-family: PingFangSC-Regular, PingFang SC;
    .headerWord1 {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.45);
      padding: 12px 0 14px 24px;
    }
    .headerWord2 {
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      padding: 0 0 10px 24px;
    }
  }
  .search{
    background: #FFFFFF;
    border-radius: 10px;
    margin: 24px;
  }
  .tableContent {
    margin: 0 24px 0 24px;
    background: white;
    border-radius: 10px;
    padding: 0 24px 0 24px;
    .tableH {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .hWord1 {
        padding: 16px 0;
        font-size: 16px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
      }
      .hWord2 {
        width: 78px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
        line-height: 30px;
      }
    }
    .table {
      border: 1px solid red;
    }
  }
}
