.editMain {
  height: calc(100vh - 48px);
  .header {
    background: white;
    font-family: PingFangSC-Regular, PingFang SC;
    .headerWord1 {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.45);
      padding: 12px 0 14px 24px;
    }
    .headerWord2 {
      font-size: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      padding: 0 0 10px 24px;
    }
  }
  .editContent {
    margin: 24px 24px 0 24px;
    padding: 16px 24px 0 24px;
    background: #FFFFFF;
    border-radius: 10px;
  }
}
